@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body{
    background-color: #f2f0eb;
    width: 100%;
    height: 100%;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

@keyframes Animation2 {
    0% {
        transform: translateX(-100%); 
        opacity: 0; 
    }
    100% {
        transform: translateX(0); 
        opacity: 1; 
    }
}

@keyframes circle {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}

header{
    display: flex;
    align-items: center; 
    padding: 4rem 6rem; 
    color: black;;
    margin-bottom: 1rem; 
    align-items: center;
    margin: auto;
    background-color: #0F2C59; 
    text-align: center; 
    color: #f0f0f0;    
}

.imgheader {
    position: relative;
}

.circle {
    position: absolute ;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0;
    animation: circle 2s ease-in-out forwards;
    animation-delay: 1s;
}

.imgheader img {
    width: 65.7px;
    height: 66.6px;
    position: relative;
    z-index: 1;
    animation: Animation2 2s ease-in-out;
}

h2 {
    font-size: 2.5rem; 
    text-shadow: 2px 2px 4px rgba(91, 119, 180, 0.7);
    margin-top: 0rem; 
    z-index: 0; 
    opacity: 1;
    animation: Animation2 2s ease-in-out; 
    animation-delay: .1s; 
    animation: Animation2 2s ease-in-out;;
}

.Regreso{
    margin-left: auto;
}

.Regreso button{
    font-size: 1.2rem;
    color: white;
    padding: 10px;
    border-radius: 4px;
    background-color: transparent;
}

.Regreso button:hover{
    font-size: 1.2rem;
    color: black;
    padding: 10px;
    border-radius: 4px;
    background-color: #A3C1DA;
}

/*Inico de la descripcion de la coach*/

.biografia{
    padding: 4rem 8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;  
    margin-top: 5rem; 
}

.txt h1 {
    font-size: 4rem;
    color: #150303;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

.txt p {
    font-size: 3rem;
    color: #1925c7;
    margin-top: 0.8rem;
    font-family: 'Roboto', sans-serif; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transition: font-size 0.3s ease, color 0.3s ease
}

.txt p:hover {
    font-size: 4rem; 
    color: orange; 
    cursor: pointer;
}

.img_biografia .circle2{
        width: 32vw;
        height: 32vw;
        background: #FFA07A;
        border-radius: 50%;
        padding: 5px;
        display: flex;
        position:relative;
        justify-content: center;
        align-items: center;
}


.img_biografia .circle2 .img_coach{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #87CEEB ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.img_biografia .circle2 .img_coach img{
    position: absolute;
    display: block;
    width: 85%;
    object-fit: cover;
    bottom: 3px;
}


.img_biografia .circle2 .img_coach:hover{
    background-color: #FFA07A;
    border-radius: 50%;
}


.img_biografia .circle2:hover{
    background-color: #87CEEB;
    border-radius: 50%;
}

section{
    display: flex;
    gap: 10rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}


.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
    align-items: start;
    justify-content: center;
    gap: 1rem;
    margin: 50px;
}

.parent .div1, .div2, .div3{
    border: .1px solid #71acc3 ;
    border-radius: 6%;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.parent h3 {
    text-align: center; 
    color: #150303; 
    font-size: 2rem;
    margin-bottom: .8rem;
}

.parent p {
    text-align: justify; 
    color: #333; 
    font-size: 1.2rem;
}

    
/*Footer*/

.foot {
    margin: auto;
    padding: 2rem; 
    background-color: #0F2C59; 
    text-align: center; 
    color: #f0f0f0;
    display: flex;
}

.logos{
    display: flex;
    align-items: center;
}

.redes p {
    font-size: 1.2rem; 
    margin-bottom: 1rem; 
}

.social-icon {
    width: 40px; 
    height: auto; 
    transition: transform 0.3s ease; 
    margin: 10px 20px;
}

.social-icon:hover {
    transform: scale(1.2); 
}

.contact-info{
    text-align: right;
    margin-left: auto
}

        